header {  }
ul { margin-left: -40px; }
ul li { list-style: none }
a { color: #e74c3c; text-decoration: none }
a:hover { color: #094e38; text-decoration: none }
#intro { display: block; overflow: hidden; padding:  5px 0; }
.wrap-menu { background: #0c5f44; padding: 20px 0; width: 100%; text-transform: uppercase }
.wrap-menu img { width: 300px; margin-right: 20px }
.wrap-menu .navbar { margin-bottom: 0 }
.wrap-menu .navbar-inverse { background-color:  transparent; border-color: transparent; }
.wrap-menu .navbar-inverse .navbar-nav>li>a { color: #fff }
.wrap-menu .navbar-inverse .navbar-nav>li>a:focus { background-color: #094e38 }
.wrap-menu .navbar-inverse .navbar-nav>li>a:hover { background-color: #094e38 }
.wrap-menu .navbar-inverse .navbar-nav>.open>a { background-color: #094e38 !important }
.wrap-menu .navbar-inverse .navbar-nav>.open>a:focus { background-color: #094e38 !important }
.wrap-menu .navbar-inverse .navbar-nav>.open>a:hover { background-color: #094e38 !important }

@media screen and (max-width: 768px) {
	.wrap-menu { position: relative; }
}

.search { margin-top: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px; border-width: 0; padding: 5px 2px; }
.buttonSearch { padding: 0; border-style: none; background: url('../img/search.png'); width: 20px; height: 20px; position: absolute; right: 2px; top: 10px; }

#body { margin: 15px 0; display: block; overflow: hidden; }
.module-row { display: block; overflow: hidden; margin-bottom: 20px; }
.first-row { display: block; overflow: hidden; margin-bottom: 20px; }
.second-row { display: block; overflow: hidden; margin-bottom: 20px; }
.third-row { display: block; overflow: hidden; margin-bottom: 20px; }
.four-row { display: block; overflow: hidden; margin-bottom: 20px; }
.five-row { display: block; overflow: hidden; margin-bottom: 20px; }
.footer-row { display: block; overflow: hidden; margin-bottom: 10px; }
.main_slide { display: block; overflow: hidden; margin-bottom: 10px; }
.main_slide .bx-controls { display: none }
.main_slide:hover .bx-controls { display: block }
.main_slide #btn-next { left: 20px; }
.main_slide #btn-prev { right: 20px; }
.main_slide img { width: 100% }
.main_slide .bx-wrapper .bx-viewport { left: 0; border: 0; box-shadow: none }
.video-right { display: block; overflow: hidden; height: 280px }
.video-right iframe { width: 100%; height: 280px; }
.box-bg-xam { display: block; overflow: hidden; background: #f5f6f7; padding: 15px 0; }
.box-bg-white { display: block; overflow: hidden; background: #fff; padding: 10px; }
.box-promotion { border: 1px solid #dedede; display: block; overflow: hidden }
.box-promotion h2 { margin-top: 10px; font-weight: normal; font-size: 25px; }
.box-promotion img { width: 100%; margin-top: 10px }
.box-promotion a { float: right; font-style: italic; }
.box-service { color: #fff; text-align: center}
.box-service i { font-size: 80px; }
.box1 { display: block; overflow: hidden; background: #e76d66; padding: 10px; }
.box2 { display: block; overflow: hidden; background: #95bb7a; padding: 10px; }
.box3 { display: block; overflow: hidden; background: #57a6b9; padding: 10px; }
.box4 { display: block; overflow: hidden; background: #7f7f7f; padding: 10px; }
.category-product { border-bottom: 2px solid #0b5e43; margin-top: 0; padding-bottom: 2px }
.category-product span { background: #0b5e43; padding: 5px 10px; color: #fff; font-weight: normal; font-size: 20px; }

.product-grid .rate{ color: #F0AD4E !important; font-size: 15px; }
.product-grid img{ width: 100% !important; }
.product-location .pull-right{ margin-right: 40px; }
.product-price{ background-color: #fff; height: 40px; width: 80px; z-index: 9; padding-left: 10px; position: absolute; }
.product-price-bottom{ top: 49%; }

.box-products {  }
.box-products a { text-decoration: none; }
.box-products a:hover { text-decoration: none; }
.product-item { display: block; overflow: hidden; margin-bottom: 30px }
.product-item .price { color: #e74c3c; font-size: 14px; }
.product-item .real-price { color: #666; font-size: 12px; text-decoration: line-through }
.product-item .product-name { font-size: 12px; color: #666; text-decoration: none; height: 25px; }
.product-item:hover .product-name { text-decoration: none color: #094e38; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
.addcart-absolute { position: absolute; top: 25%; left: 40%; display: none; }
.addcart-fullwidth { width: 100%; }
.product-item:hover .addcart-absolute { display: block; }
.product-item.feature { padding: 10px; border: 1px solid #999; }
.product-item.feature .hot { width: 100px; position: absolute; top: -10px; right: 0; }
.product-item.feature .feature-item { position: absolute; width: 100px; }
.btn { border-radius: 0 }
.feature .price { color: #e74c3c; font-size: 30px; }
.feature .product-name { font-size: 18px; color: #696969; text-decoration: none; height: 25px; }
.btn-feature { border-radius: 5px; }
.hover-feature:hover .product-item {
	background: #f5f6f7;
	border-color: #f5f6f7;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}
.img-thumbnail { border-radius: 0 }
.box-border-xam { display: block; overflow: hidden; border: 1px solid #f5f6f7; padding: 15px 0; }
.box-bg-red-footer { display: block; overflow: hidden; background: #e74c3c; padding: 15px 0 0 0; }
.box-bg-default-footer { display: block; overflow: hidden; background: #0c5f44; padding: 15px 0 0 0; }
.breadcmenu { display: block; overflow: hidden; }
.breadcmenu >.breadcrumb { border-radius: 0; margin-bottom: 0 }
.box-content { display: block; overflow: hidden; padding: 10px; border: 1px solid #dedede; webkit-box-shadow: 0 1px 3px #d3d3d3; box-shadow: 0 1px 3px #d3d3d3; }
.box-content .bigImage { display: block; overflow: hidden; margin-bottom: 10px; box-shadow: 0 1px 3px #d3d3d3;}
.box-content #listImage { display: block; overflow: hidden; padding: 10px; border: 1px solid #dedede; }
.box-content #listImage img {  }
.box-content .product-name { font-size: 25px; color: #636363; text-decoration: none; }
.box-content .price { color: #e74c3c; font-size: 22px; }
.box-content .real-price { color: #666; font-size: 20px; text-decoration: line-through }
.box-content .boxcount-social { display: block; overflow: hidden; padding: 5px 0; }
.box-content .status { color: #696969; font-size: 18px; }
.box-detail-review { display: block; overflow: hidden; padding: 10px; border: 1px solid #dedede; webkit-box-shadow: 0 1px 3px #d3d3d3; box-shadow: 0 1px 3px #d3d3d3; }
.box-detail-review ul { margin-left: 0 }
.box-detail-review .nav-tabs>li>a { border-radius: 0 }
.box-detail-review .tab-content { padding: 10px; border-left: 1px solid #dedede; border-right: 1px solid #dedede; border-bottom: 1px solid #dedede; }
.box-tags { display: block; overflow: hidden; padding: 10px; border: 1px solid #dedede; webkit-box-shadow: 0 1px 3px #d3d3d3; box-shadow: 0 1px 3px #d3d3d3; background: #ecf0f1 }
.box-tags>b { color: #696969; font-size: 18px; }

.modal-content { border-radius: 0 }
.alert { border-radius: 0 }
.h2-title { margin-top: 0; }
.btn-100 { width: 100% }
.form-control { border-radius: 0 }
.each-review { display: block; overflow: hidden; border: 1px solid #f5f6f7; padding: 10px; margin-bottom: 10px; }
.each-review:hover { border: 1px solid #dedede; webkit-box-shadow: 0 1px 3px #d3d3d3; box-shadow: 0 1px 3px #d3d3d3; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; }
.each-review .media-heading { font-size: 18px; }
.each-review .media-left { width: 200px; color: #094e38 }
.each-review p { margin:  0; }
.each-review .likepro { font-size: 13px; font-style: italic }
.cart-list {  }
.shopping-cart {  }
.shopping-cart .quantity { position: absolute; top: 3px; right: 5px;background: #fff; border: 1px solid #015238; color: #666; border-radius: 50%; width: 20px; text-align: center; }
.sub-cart { overflow: hidden;}
.sub-cart .name { width: 100%; text-align: justify }
.sub-cart img { float:left; width: 20% }
.sub-cart a { display: block; overflow: hidden }
.sub-cart .price { color: #094e38; font-style: italic }
.left-position {  }
.left-position .wrapmenu { border: 1px solid #f5f6f7; padding: 10px; color: #000; }
.left-position .wrapmenu h2 { font-size: 14px; font-weight: 500; margin: 0 0 10px 0 }
.left-position .wrapmenu .userNameLeft { font-size: 16px; font-weight: bold; margin: 0 0 10px 0 }
.left-position .wrapmenu li { display: block; padding: 5px 10px; }
.left-position .wrapmenu li:hover { background: #f5f6f7 }
.left-position .wrapmenu li.active { background: #f5f6f7; font-weight: bold; }
.left-position .wrapmenu .parent { font-weight: 300; }
.left-position .wrapmenu .parent .fa { color: #999; }
.left-position .wrapmenu .child li a { font-weight: 300; padding-left: 20px; }
.left-position .wrapmenu .infoAccountLeft {  }
.left-position .wrapmenu .infoAccountLeft p { font-weight: 300; margin: 0 }
.left-position .wrapmenu .infoAccountLeft h2 {  }
.left-position .wrapbox { border: 1px solid #f5f6f7; padding: 10px; color: #000; }
.right-position {  }
.right-position .wrapListProduct { border: 1px solid #f5f6f7; padding: 10px; color: #000; }
.right-position .myCard { font-size: 12px; }
.small-right-position { font-size: 12px; }
.linkInCard { color: green; }
.boxcount-social-top { display: inline; float: right; }
.final_money { color: red; font-size: 20px; }
.box-outline {
	-webkit-box-shadow: 0 1px 2px 0 rgba(98,98,98,.5);
	box-shadow: 0 1px 2px 0 rgba(98,98,98,.5);
}
.hotlines { border: 1px solid #dedede; padding: 10px 5px; }
.custom-label {
	line-height: 32px;
	font-weight: normal;
}
.fix-height-180 {
	height: 180px;
}
.order-detail {  }
.order-detail h3 {
	font-weight: 400;
	margin-top: 5px;
	font-size: 20px;
}
.order-detail p {
	margin: 0;
}
.percent-discount {
	position: absolute;
	right: 0;
	font-size: 25px;
	color: #fff;
	-moz-transform: scale(1) rotate(6deg) translateX(-19px) translateY(-2px);
	-webkit-transform: scale(1) rotate(6deg) translateX(-19px) translateY(-2px);
	-o-transform: scale(1) rotate(6deg) translateX(-19px) translateY(-2px);
	-ms-transform: scale(1) rotate(6deg) translateX(-19px) translateY(-2px);
	transform: scale(1) rotate(6deg) translateX(-19px) translateY(-2px);
}
.status_new { padding: 2px 10px; background: #3498db; border-radius: 10px; color: #fff; }
.status_success { padding: 2px 10px; background: #2ecc71; border-radius: 10px; color: #fff; }
.status_cancel { padding: 2px 10px; background: #34495e; border-radius: 10px; color: #fff; }
.status_shipping { padding: 2px 10px; background: #e74c3c; border-radius: 10px; color: #fff; }
.status_handle { padding: 2px 10px; background: #f1c40f; border-radius: 10px; color: #fff; }

.footer-box { color: #fff }
.footer-box .link-footer { color: #fff }
.footer-box ul { margin-left: -30px; }
.footer-box li { line-height: 30px }
.footer-box .link-footer:hover { padding-left: 10px; -webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;  }







